/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #4CAF50; /* Задаем основной цвет заголовков */
}

/* Контейнеры для форм (вход и регистрация) */
.login-container, .register-container {
    width: 100%;
    max-width: 420px;
    margin: 20px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

/* Поля ввода */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
}

/* Кнопки */
button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Ссылки */
p {
    text-align: center;
    font-size: 14px;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: underline;
}

/* Адаптивные стили */
@media (max-width: 600px) {
    .login-container, .register-container {
        padding: 20px;
        max-width: 100%;
    }

    h2 {
        font-size: 22px;
    }

    input, button {
        padding: 10px;
    }
}
